<h1>Listing weeks</h1>

<table>
  <thead>
    <tr>
      <th>Start day</th>
      <th>End day</th>
      <th>Total contributed</th>
      <th>Total used</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @weeks.each do |week| %>
      <tr>
        <td><%= week.start_day %></td>
        <td><%= week.end_day %></td>
        <td><%= week.total_contributed %></td>
        <td><%= week.total_used %></td>
        <td><%= link_to 'Show', week %></td>
        <td><%= link_to 'Edit', edit_week_path(week) %></td>
        <td><%= link_to 'Destroy', week, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Week', new_week_path %>
