<%= title t('Earth Pact') %>
  
  
  <div class="contents">
    
    <div class="section0 slide-section">
      <h3 class="line1">We Do Not Inherit the Earth from Our Ancestors;</h3>
      <h2 class="line2">We Borrow It </h2>
      <h1 class="line3">From Our Children</h1><h3 class="italic"> - Native American Proverb</h3>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="section1 slide-section">
      <div>
        <div>
          Single-use plastics, like bags, bottles and straws, are wreaking havoc on our environment and its inhabitants.  If you have ever thought about how to solve this problem, you know it's a massive undertaking with no simple solution.  However, the easiest and possibly most important thing we can do is reduce how much we consume. <br /><br /> Less Demand = Less Production = Less Waste
          
        </div>
        <br />
        <div class="line1">
          It's time we stop relying on politicians and corporations to reverse the current epidemic-level environmental conditions.
        </div>
        <div class="line2">
          Earth Pact empowers YOU to take action and save the Earth by helping track and reduce your single-use plastic consumption.
        </div>
        <div class="line3">
          Step up and take accountability for what you purchase and consume. Ask others to do the same.
        </div>

      </div>
    </div>
    
    <div class="section2 slide-section">
      <div class="row">
        <h2 class="center">How does it work?</h2>
        <p class="span1">1.</p>
        <div class="span8 longbox">
          <p class="span2 center">
            <%=image_tag("/assets/build-icons/_0037_Notepad.png")%>
            <br />
            <%= link_to "Make Your Earth Pact!", "#make-earth-pact"%> 
          </p>       
          <p class="span5">
            Commit to reduce your plastic usage. <br /> Make a $20 deposit that incentivizes you to use less plastic. <br />
        (<a href="javascript:$('#why-money').toggle('slow');">Why bring money into the equation?</a>)

          </p>        
        </div> 
         <p id="why-money" style="display:none;clear:both;">Money caused our seperation from cause and effect, and money has the power to make us aware again of our actions. Mark Boyle, who has lived without money for some time, has some great quotes on the topic: "The degrees of separation between the consumer and the consumed have increased so much that it now means we're completely unaware of the levels of destruction and suffering embodied in the stuff we buy."  Mark also points out that money is the culprit behind much of our suffering: "Very few people actually want to cause suffering to others; most just don't have any idea that they directly are.  The tool that has enabled this separation is money." - Mark Boyle</p>
        
      </div> <!-- / row -->


      <div class="row">
        <p class="span1">2.</p>

        <div class="span8 longbox">
          <p class="span2 center">
            <%= image_tag("/assets/build-icons/_0036_Mail.png") %><br />
            Track your Plastic Usage
          </p>

          <p class="span5">
            Respond to the daily email about how much one-time use plastic you purchased throughout the day. <br /> We track this so you can improve over time.
          
          </p>
        </div> <!-- longbox -->
      </div> <!-- / row -->
      <div class="row">
        
        <p class="span1">3.</p>
        <div class="span8 longbox">
          <p class="span2 center">
            <%= image_tag("/assets/build-icons/_0004_Globe.png") %><br />
            Be a part of creating a healthier Earth
          </p>
          <p class="span5">
            For each piece of one-time use plastic that you purchase, we deduct $.25 from your remaining balance. <br /> This money goes towards organizations helping to fight for the environment every day, like the 5 Gyres institute.
            
          </p>
        </div>
      </div> <!-- / row -->
      <br />
      <br />
      <div class="center">
        <%= render 'pact_flow' %>
        
      </div>

        
      </div>
    </div> <!-- section 2 -->
      <div class="section3 slide-section">
      <hr />
      <h2>Why start with one-time use plastics?</h2>
     <div class="line1">
       Worldwide, 500 billion to 1 trillion plastic bags are consumed each year.  A plastic bag takes up to 1000 years to decompose, and when it finally does, the results are toxic.  Simply put, plastic is made to last forever and designed to be thrown away.
     </div>
     
     <div class="line2">
       Our environment is reaching a critical mass of polution.  There is a swirling mass of plastic in the pacific ocean twice the size of Texas.  Over 44% of all seabirds have ingested pieces of plastic.  1000 sea creatures die each day due to plastic pollution.
     </div>
     <%= link_to "More on why plastic is a problem (or simply google it...but with great knowledge comes great responsibility!)","http://oceancrusaders.org/plastic-crusades/plastic-statistics/",:target=>"_blank" %>
     <br />
     <br />
     <div class="line2">
       We live in a throwaway society where the effects of our consumption are not realized.  Tying consumption directly with a fine forces us to realize what we are consuming and tossing away.
     </div>
      <br />
     <div class="center">
       <%= link_to "Make your Earth Pact","#make-earth-pact"%> and save these sea creatures:
     </div>
     <div class="row">
       
       <div id="whale" class="span3">
          <%= image_tag("http://www.capelodge.com.au/files/humpback_whale_margaret_river.jpg") %>
          <%= link_to "Whale death caused by plastic","http://www.inquisitr.com/561291/whale-death-caused-by-eating-plastic/#7rLyY4Q4ymKvxlGp.99", :target=>"_blank"%>
          <%= link_to "Whale dies from starvation after ingesting 10lbs of plastic bags","http://www.care2.com/greenliving/whale-death-caused-by-plastic-bags.html",:target=>"_blank"%>


        </div>
        <div id="turtle" class="span3">
          <%=image_tag("http://i.huffpost.com/gen/1311194/thumbs/r-SEA-TURTLE-EATING-large570.jpg?6")%>
          <%=link_to "Sea Turtles eating record amounts of plastic","http://www.huffingtonpost.com/2013/08/22/sea-turtles-eating-plastic_n_3790853.html",:target=>"_blank"  %>
          <%= link_to "Another reason to hate plastic bags: Sea Turtles Eat Them","http://www.care2.com/causes/another-reason-to-hate-plastic-bags-sea-turtles-eat-them.html",:target=>"_blank" %>
        </div>
        <div class="span3" id="seagull">
          <%= image_tag("http://1.bp.blogspot.com/-_4fJz2EyXLM/TWgK3VfZkFI/AAAAAAAABNE/p1nEe91bP9s/s1600/albatross-chicks-plastic-1.jpg") %>
          <%= link_to "Disturbing Video of a Seagull Eating a Plastic Bag","http://www.treehugger.com/culture/disturbing-video-seagull-eating-plastic-bag.html",:target=>"_blank" %>
        </div>
     </div>

   </div> <!-- section 3 -->
   <br />
   <%= link_to "Have Feeback? Email Me", "mailto: myearthpledge@gmail.com" %>
   <div class="row">
     <div id="myfirstchart">
       
     </div>
  </div>
 </div> <!-- content -->
 
<script type="text/javascript" charset="utf-8">
$(function(){
  new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: [
    <%count = 1%>
    <%@weeks.each do |week|%>
      { Week: '<%=count%>', Pieces: "<%=week.total_used.to_s%>" },
      <% count+=1%>
    <% end %>
    ],
  // The name of the data record attribute that contains x-values.
  xkey: 'Week',
  // A list of names of data record attributes that contain y-values.
  ykeys: ['Total Plastic Logged'],
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: ['Plastic Logged']
});
})
</script>
