<p id="notice"><%= notice %></p>

<p>
  <strong>Amount of plastic logged:</strong>
  <%= pluralize(@log.amount_used,"piece") %>
</p>

<p>
  <strong>Description of items logged:</strong>
  <%= @log.description %>
</p>

<p>Total Plastic used:</p>
<p><%=@total_plastic_used%></p>
<p>Total Money Contributed:</p>
<p><%=number_to_currency(@total_plastic_used * current_user.pact.penalty)%></p>
<%= link_to 'Home', root_url %>
