<p id="notice"><%= notice %></p>

<p>
  <strong>Amount of plastic logged:</strong>
  <%= pluralize(@log.amount_used,"piece") %>
</p>

<p>
  <strong>Description of items logged:</strong>
  <%= @log.description %>
</p>

<%= render 'user_totals' %>
<br />
<%= link_to 'Home', root_url %>
